alt/COVID-Effekt.png
alt/COVID-Vergleich_ Anzahl Velofahrten Januar bis Mai.png
alt/data.dxf
alt/entwicklung_ab12monatBasis.sql
alt/entwicklung_wochentag.sql
alt/entwicklung.py
alt/entwicklung.sql
alt/Puls der stadt.png
alt/standorte_bereinigen.sql
alt/standorte_coor.csv
alt/standorte_coor.xlsx
alt/test_db.py
alt/test_db2.py
alt/test.py
alt/testsql.py
alt/verkehr_pro_stunde_view.sql
alt/verkehr_pro_stunde.sql
alt/verkehr_pro_tag.sql
alt/zh_verkehr_pro_tag_freizeit_pendler.sql
alt/zh_verkehr_pro_tag.sql
data/standorte.xlsx
data/velo_pro_stunde.sql
data/velo_pro_tag.sql
data/downloads/2022_verkehrszaehlungen_werte_fussgaenger_velo.csv
data/downloads/bestellung.txt
data/downloads/metadaten.pdf
data/downloads/taz.view_eco_standorte.csv
data/downloads/taz.view_eco_standorte.geojson
gifs/karte_zürich.PNG
gifs/karte_zürich2.PNG
gifs/karte_zürich3.png
gifs/screen_capture2.stg
gifs/velo_zh_extended.avi
gifs/velo_zh_extended.mp4
gifs/velo_zh_extended.stg
gifs/velo_zh_extended2.gif
gifs/velo_zh_extended2.mp4
gifs/velo_zh_extended3.mp4
gifs/velo_zh_v4_1.gif
gifs/velo_zh_v4_2.gif
gifs/velo_zh_v4_3.gif
gifs/velo_zh_v4_deopt.xcf
gifs/velo_zh_v4.gif
create_color.py
standorte.py
velozaehlung.py
scr/assets/fontawesome/x_js/all.js
scr/assets/fontawesome/x_js/all.min.js
scr/assets/fontawesome/x_js/brands.js
scr/assets/fontawesome/x_js/brands.min.js
scr/assets/fontawesome/x_js/conflict-detection.js
scr/assets/fontawesome/x_js/conflict-detection.min.js
scr/assets/fontawesome/x_js/fontawesome.js
scr/assets/fontawesome/x_js/fontawesome.min.js
scr/assets/fontawesome/x_js/regular.js
scr/assets/fontawesome/x_js/regular.min.js
scr/assets/fontawesome/x_js/solid.js
scr/assets/fontawesome/x_js/solid.min.js
scr/assets/fontawesome/x_js/v4-shims.js
scr/assets/fontawesome/x_js/v4-shims.min.js
scr/assets/fontawesome/x_less/_animated.less
scr/assets/fontawesome/x_less/_bordered-pulled.less
scr/assets/fontawesome/x_less/_core.less
scr/assets/fontawesome/x_less/_fixed-width.less
scr/assets/fontawesome/x_less/_icons.less
scr/assets/fontawesome/x_less/_list.less
scr/assets/fontawesome/x_less/_mixins.less
scr/assets/fontawesome/x_less/_rotated-flipped.less
scr/assets/fontawesome/x_less/_screen-reader.less
scr/assets/fontawesome/x_less/_shims.less
scr/assets/fontawesome/x_less/_sizing.less
scr/assets/fontawesome/x_less/_stacked.less
scr/assets/fontawesome/x_less/_variables.less
scr/assets/fontawesome/x_less/brands.less
scr/assets/fontawesome/x_less/fontawesome.less
scr/assets/fontawesome/x_less/regular.less
scr/assets/fontawesome/x_less/solid.less
scr/assets/fontawesome/x_less/v4-shims.less
scr/assets/fontawesome/x_metadata/categories.yml
scr/assets/fontawesome/x_metadata/icons.json
scr/assets/fontawesome/x_metadata/icons.yml
scr/assets/fontawesome/x_metadata/shims.json
scr/assets/fontawesome/x_metadata/shims.yml
scr/assets/fontawesome/x_metadata/sponsors.yml
scr/assets/fontawesome/x_scss/_animated.scss
scr/assets/fontawesome/x_scss/_bordered-pulled.scss
scr/assets/fontawesome/x_scss/_core.scss
scr/assets/fontawesome/x_scss/_fixed-width.scss
scr/assets/fontawesome/x_scss/_functions.scss
scr/assets/fontawesome/x_scss/_icons.scss
scr/assets/fontawesome/x_scss/_list.scss
scr/assets/fontawesome/x_scss/_mixins.scss
scr/assets/fontawesome/x_scss/_rotated-flipped.scss
scr/assets/fontawesome/x_scss/_screen-reader.scss
scr/assets/fontawesome/x_scss/_shims.scss
scr/assets/fontawesome/x_scss/_sizing.scss
scr/assets/fontawesome/x_scss/_stacked.scss
scr/assets/fontawesome/x_scss/_variables.scss
scr/assets/fontawesome/x_scss/brands.scss
scr/assets/fontawesome/x_scss/fontawesome.scss
scr/assets/fontawesome/x_scss/regular.scss
scr/assets/fontawesome/x_scss/solid.scss
scr/assets/fontawesome/x_scss/v4-shims.scss
scr/assets/fontawesome/x_sprites/brands.svg
scr/assets/fontawesome/x_sprites/regular.svg
scr/assets/fontawesome/x_sprites/solid.svg
scr/assets/fontawesome/x_sprites/brands.svg
scr/assets/fontawesome/x_sprites/regular.svg
scr/assets/fontawesome/x_sprites/solid.svg
.vscode/settings.json
